@model CourseRegistration

<h2>Add Course Registration</h2>
<hr>
<form asp-controller="CourseRegistration" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="StudentId" class="form-label">Student</label>
        <select asp-for="StudentId" asp-items="ViewBag.Students" class="form-select">
            <option value="">Select</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="CourseId" class="form-label">Course</label>
        <select asp-for="CourseId" asp-items="ViewBag.Courses" class="form-select">
            <option value="">Select</option>
        </select>
    </div>

    <button type="submit" class="btn btn-secondary mt-3">Save Registration</button>
</form>